<div class="content-container">
	<h1>Welocome To Your {{ gsg.name}} Getting Started Guide</h1>
	<div class="video-container">
		<iframe class="video" frameborder="0" [src]="sanitizeUrl(gsg.videoUrl)"></iframe>
	</div>

	<!-- accordion sections -->
	<div class="menu-item" fxLayout="row" [style.margin-top]="'2rem'" (click)="toggleShow('description')">
		<div fxFlex="2rem">
			<svg
				#menuArrow
				id="description"
				class="menu-arrow"
				viewBox="0 0 72 72">
				<polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="7.0233" points="48,61 36,48.2 24,35.5 36,22.7 48,9.9"/>
			</svg>
		</div>
		<div fxFlex="85%" class="section-title">
			<span class="menu-title">Product Description</span>
		</div>
	</div>
	<div #content id="description" class="menu-content-container hide">
		<p>{{ gsg.description }}</p>
	</div>
	<!-- images -->
	<div class="menu-item" fxLayout="row" (click)="toggleShow('images')">
		<div fxFlex="2rem">
			<svg
				#menuArrow
				id="images"
				class="menu-arrow"
				viewBox="0 0 72 72">
				<polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="7.0233" points="48,61 36,48.2 24,35.5 36,22.7 48,9.9"/>
			</svg>
		</div>
		<div fxFlex="85%" class="section-title">
			<span class="menu-title">Product Images</span>
		</div>
	</div>
	<div #content id="images" class="menu-content-container hide">
		<div *ngFor="let imageUrl of gsg.imageUrls">
			<img [src]="imageUrl" [style.width]="'100%'"/>
		</div>
	</div>
	<!-- faq -->
	<div class="menu-item" fxLayout="row" (click)="toggleShow('faq')">
		<div fxFlex="2rem">
			<svg
				#menuArrow
				id="faq"
				class="menu-arrow"
				viewBox="0 0 72 72">
				<polyline fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="7.0233" points="48,61 36,48.2 24,35.5 36,22.7 48,9.9"/>
			</svg>
		</div>
		<div fxFlex="85%" class="section-title">
			<span class="menu-title">Product FAQ</span>
		</div>
	</div>
	<div #content id="faq" class="menu-content-container hide">
		<div *ngFor="let question of gsg.faq">
			<h3>{{ question.question }}</h3>
			<p [style.margin-top]="'5px'">{{ question.answer }}</p>
		</div>
	</div>

</div>
