// dark gray and off-white used throughout the whole site
$secondary-color: #F7F7F7;
$primary-color: #404040;
$placeholder-text: #E3E3E3;
$white: white;
$amazon-yellow: #FF9900;
$target-red: #CC0000;
$bedbath-blue: #133A87;

// gg brand colors
$balance-color: #00B3E3;
$connect-color: #151E28;
$nourish-color: #00C18B;
$rise-color: #FCCA84;
$weight-gurus-color: #5D89B4;

/* Override star rating colors by using scss variables */
$color-negative-rating: $amazon-yellow;
$color-ok-rating: $amazon-yellow;
$color-positive-rating: $amazon-yellow;
$color-default-rating: $amazon-yellow;
